* {
  background-color: black;
}

h1 {
  color: white;
  text-align: center;
  margin: auto;
  margin-bottom: 3%;
}

p {
  color: white;
  text-align: center;
}

nav > * {
  text-decoration: none;
  color: white;
}

/*

#VideoStream {
  transform: scaleX(-1);
  max-width: 80%;
  margin: auto;
} 

*/